.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
test/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
CLAUDE.md
.github/**
media/marketplace-icon.svg
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
